div div{
    color: white;
    background-color: aqua;
    display:flex;
    justify-content: center;

    
}
html{
    background-color: rgb(155, 228, 171);
}

h2{
    color: red;
    
}

h4 {
  text-decoration: underline;
}

.head{
    color: red;
    background-color: rgb(225, 228, 21);
}

body{
    text-align: justify;
    flex-basis: 100%;
    flex-grow: 1;
}

footer{
    background-color: rgb(233, 244, 131);
}

a{
    color: blue;
  
}